# Python stuff
__pycache__/
*.so

# Virtual environment
venv/

# SQLite DB
db.sqlite3


# Django migrations (keep __init__.py)
**/migrations/
!**/migrations/__init__.py

# IDE/editor configs
.vscode/
.idea/

