# Django Framework
django==4.2.5

# REST Framework
djangorestframework==3.14.0

# Data Handling
pandas==2.2.2
openpyxl==3.1.2

# Dependencies for Django and Pandas
asgiref==3.7.2
numpy==1.26.4
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
sqlparse==0.4.4
typing-extensions==4.12.2
